@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/mylist.css" type="text/css" />

<div class="wrap">
    <h1 id="title">
        Wypełnij pola i wyślij
    </h1>
    <div class="page">
        <div class="content">
            <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Ilość koni</th>
                    <th>Rocznik</th>
                </tr>
                </thead>
                <tbody>      

                @foreach (var x in Model)
                    {<tr>
                        <td>@x.Brand</td>
                        <td>@x.Model</td>
                        <td>@x.Horsepower</td>
                        <td>@x.ProductionYear</td>                      
                    </tr>}
                    
                </tbody>
            </table>
            </div>
            <button class="send-button" onclick="location.href='@Url.Action("Index", "Home")'" />
                Wstecz
            </button>
        </div>
    </div>
</div>